.todoItem {
  border: 2px solid red;
  width: 50%;
  margin: auto;
  padding: 20px;
  margin-bottom: 10px;
}
.addTodo {
  border: 2px solid green;
  margin: auto;
  margin-bottom: 50px;
  margin-top: 50px;
  text-align: center;
  padding: 10px;
}
.addTodo form > div {
  /* border: 2px solid yellow; */
  margin: auto;
  margin-bottom: 20px;
  width: 70%;
}
.addTodo form > div input {
  padding: 5px;
}
